// White theme

// Color variables
$black: #181818;
$light-gray: #e2e1e6;
//$light-gray2: #d0cfd4;
$light-gray2: #c1c0c4;

$green: rgb(32, 192, 131);
$green-dark: rgb(24, 139, 95);
$blue-perso: rgb(50, 53, 190);
$gray-light: #f5f5f5;
$white: #fff;

$gray: #777;
$yellow: #fec92e;
$orange: #fa8224;
$orange-dark: #DF6D16;
$red: #E74727;
$red-dark: #DC3918;
$blue: rgb(0, 139, 231);
$blue-small: rgb(0, 97, 187);

// Config
$color-background: $light-gray2 !default;
$color-dot-accent: $blue-small !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $blue !default;
$color-code: $blue !default;
$color-nav-link: $blue-small !default;
$color-primary-link: $blue-small !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
