---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

@font-face {
        font-family: "IBM Plex Serif";
        src: url("../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf") format('truetype'); 
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: "Open Sans";
        src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
        font-weight: 400;
        font-style: normal;
}